* {box-sizing: border-box;}

body {background-image: url(img/patt.png);
}

.header {padding: 25px 0;
	background: rgba(255,255,255,0.75);
}


.container { width: 1170px;
	margin:0 auto;
}

.row:after,.menu:after {
content: "";
display: block;
clear: both;
}

[class*="col-"] {
	float:left;
}

.col-md-3 {width: 25%;
}

.col-md-6 {width: 50%;
}


.menu li {
	float:left;
	width: 25%;
	border-left: 1px solid #2c71b8;
}

.menu li:last-child {
	border-right: 1px solid #2c71b8;
}

.menu li a {
	display: block;
	height: 50px;
	line-height: 50px;
	text-decoration: none;
	color: #2c71b8;
	font-size: 21px;
	text-align: center;
}

.menu li a:hover {
	background: #2c71b8;
	color:white;

} 








/*.form {
	height: 40px;
	width: 200px;
	border: 1px solid #2c71b8;
}


.glass {
	width: 30px;
	height: 30px;
	background: #2c71b8;
	text-align: center;
	line-height: 30px;
}

.basket {
	width: 40px;
	height: 40px;
	background: white;
	text-align: center;
	line-height: 40px;
}*/