

body {background-image: url(img/patt.png);
}

.header {padding: 25px 0;
	background: rgba(255,255,255,0.75);
}


.container { width: 1170px;
	margin:0 auto;
}


[class*="col-"] {
	float:left;
}

.row:after,.menu:after {
content: "";
display: block;
clear: both;
}

.col-md-3 {width: 25%;
}

.col-md-6 {width: 50%;
}



